body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    border: 20px solid #222;
    margin: 30px;
    transition: 0.5s;
}


.box:hover {
    box-shadow: 0 40px 0 -20px #19b73e,
                0 -40px 0 -20px #dc0028,
                -40px 0 0 -20px #1328db,
                40px 0 0 -20px #ff560b,
                inset 0 40px 0 -20px #19b73e,
                inset 0 -40px 0 -20px #dc0028,
                inset -40px 0 0 -20px #1328db,
                inset  40px 0 0 -20px  #ff560b;
}

.boxy:hover:hover {
    box-shadow: 0 40px 0 -20px #19b73e,
                0 -40px 0 -20px #dc0028,
                -40px 0 0 -20px #1328db,
                40px 0 0 -20px #ff560b,
                inset 0 40px 0 -20px #19b73e,
                inset 0 -40px 0 -20px #dc0028,
                inset -40px 0 0 -20px pink,
                inset  40px 0 0 -20px  #ff560b;
}


.box h2 {
    position: relative;
    color: pink;
    font-size: 3px;
    opacity: 0.1;
    transition: 0.5s;
}


.box:hover h2 {
    opacity: 1;
}










h1 {
    color: white;
    font-family: yellowtail sans-serif;
}

button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #0984e3;
    color: white;
    border-color: black;
    padding: 1.4rem;
    background-color: black;
    margin-bottom: 2rem;
    align-items: center;




}

#one {
    background-image: linear-gradient(to right, hotpink 50%, darkviolet 50%);
}

button:hover {
    font-size: 30px;
}

.div1 {
    background-color: gray;
    
}

a {
    font-size: 20px;
    color: white
}

a:hover {
    font-size: 50px;
}

.section-top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(fixme/coding\ picture.avif);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 10s infinite;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.content h1 {
   letter-spacing: 16px ;
}

.content a {
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

p {
    font-size: 40px;
    padding: 10px;
    line-height: 24px;
    color: white;
    font-family: lobster2 sans-serif;
}

@keyframes slide {
    0% {
        background-image: url(images/codng\ picture\ 2.jpg);
    }

    33% {
        background-image: url(fixme/coding\ pcture\ 3.png);
    }

    67% {
        background-image: url(images/codng\ picture\ 2.jpg);
    }

}