body {
    margin: 0;
    background: repeating-linear-gradient(#ff6699, #ccccff);
}

.navbar {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink {
    color: white;
    font-size: 2rem;
    margin: 0 30px;

}

.navlink:hover {
    color: blue;
}

h1 {
    text-align: center;
    font-family: Tilt Prism;
    font-size: 6rem;
}

.navbar:hover {
    text-decoration: underline;
    color: blue;

}

img {
    border-radius: 8px;
}