h1 {
    color: pink;
   text-align: center;
   font-size: 50px;
   text-decoration: underline;
}
blockquote {
    font-size: 3rem;
    font-style: italic;
    width: 50%;
    position: relative;
}

.quote {
    font-size: 6rem;
    background-color: grey;
    display: inline-flex;
    justify-content: center;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

blockquote::before {
    content: open-quote;
    top: -50px;
    left: -50px;
}

blockquote::after {
    content: close-quote;
    bottom: -100px;
    right: -30px;
}

blockquote::after, 
blockquote::before {

font-size: 6rem;
position: absolute;
    
}
